body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3d426;
}

.movie-card {
  background-color: #610101;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 3rem;
  border-radius: 15px;
  color: white;
}

.movie-director {
  padding: 4px 0;
  font-size: 1.25rem;
}

.saved-list {
  background-color: #0e0000;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.saved-list h3 {
  margin-right: 10px;
  color: white;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: #ffd900;
  border: 1px dotted grey;
  padding: 5px;
  border-radius: 15px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid black;
  padding: 5px 10px;
  width: 6%;
  text-align: center;
  background-color: #00635e;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 1%;
}
.save-button:hover {
  background-color: rgb(1, 250, 1);
  color: black;
  font-weight: bold;
}
.edit-button {
  position: absolute;
  top: 85px;
  right: 25px;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: #00635e;
  color: white;
  width: 6%;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 1%;
}
.edit-button:hover {
  background-color: #ff9900;
  color: black;
  font-weight: bold;
}
.delete-button {
  position: absolute;
  top: 145px;
  right: 25px;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: #00635e;
  color: white;
  width: 6%;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 1%;
}
.delete-button:hover {
  background-color: #cc0000;
  color: black;
  font-weight: bold;
}

.home-button {
  padding: 5px 10px;
  background-color: #610101;
  border: 1px solid black;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  margin-right: -5%;
  font-size: 1.25rem;
  padding: 1%;
  width: 6%;
  text-align: center;
}

.home-button:hover {
  font-weight: bold;
  border: 1px solid grey;
}

.movie-warning {
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}